/* External font import */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./images/dogsandcats1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #333;
}

/* Heading styles */
h1 {
    width: inherit;
    font-size: 50px;
    margin: 10px;
    padding: 10px 80px;
    border: 3px solid rgb(46, 147, 187);
    border-radius: 15px;
    background-color: #e7e7e7;
    color: #333;
}

h2 {
    margin: 10px;
    color: #333;
}

h3 {
    margin: 10px;
}

/* Container styles */
#container,
#containerWelcome {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    margin-top: 5%;
}

/* Image styles */
img {
    max-width: 100%;
    max-height: auto;
}

/* Result text styles */
#resultText {
    margin: 10px;
    height: 40px;
    font-weight: 800;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    --hue: var(--hue-neutral);
    border: 1px solid rgb(46, 147, 187);
     background-color: #e7e7e7;
    border-radius: 5px;
    color: #333;
    outline: none;
    cursor: pointer;
}

/* Specific button styles */
#startGameButton,
#catButton,
#dogButton,
#saveScoreButton,
#restartGameButton {
    padding: 10px 40px;
    background-color: #e7e7e7;
    border-color: rgb(46, 147, 187);
   
}

#startGameButton:hover,
#catButton:hover,
#dogButton:hover,
#saveScoreButton:hover,
#restartGameButton:hover {
    background-color: #e7e7e7;
}

/* Scoreboard styles */
#scoreboard {
    height: 200px;
    font-size: 30px;
    font-weight: 800;
    background-color: #e7e7e7;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

#scoreText {
    
    padding: 5px;
    font-weight: bold;
    background-color: #e7e7e7;
    
}

#scoreList {
    color: #333;
}

#backTextColor {
    background-color: #e7e7e7;
    padding: 1%;
    border: 3px solid;
    border-color: rgb(46, 147, 187);
    border-radius: 15px;
}

/* Container welcome specific style */
#containerWelcome {
    font-size: 35px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 30%;
    left: 25%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* User name input styles */
#userName {
    padding-top: 1px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    border: 2px solid #333;
}

/* Media queries */

@media screen and (max-width: 550px) {
    #container,
    #containerWelcome {
        margin-top: 25%;
        font-size: 20px;
        width: 85%;;
    }

    h1 {
        padding: 5px 10px;
        font-size: 30px;
        width: 60%;;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        display: flex;
        margin: 10px;
        font-size: 16px;
    }

  

    #userName {
        padding-top: 1px;
        height: 30px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .modal-content {
        width: 80%;
       
    }

}

@media screen and (max-width: 700px) {
    .modal-content {
        top: 5%;
        width: 80%;
        font-size: 20px;
        left: 10%;
    }

    h1 {
        padding: 10px 40px;
    }
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-height: 800px) {
    .modal-content {
        top: 2%;
        width: 70%;
        font-size: 20px;
        left: 15%;
    }
}
